@charset "UTF-8";

body {
	background-image: linear-gradient(to bottom, #81d4fa 0%, #81d4fa 50%, #e1f5fe 50%, #e1f5fe 100%);
	background-attachment: fixed;
}

a {
	font-size: 3rem;
    text-align: center;
	margin-top: 240px;
	margin-bottom: 20px;
}

.btn-register, .btn-views, .btn-seachs{
	display: inline-block;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 4px;
}

.btn-register{
	color: black;
	margin-left: 300px;
	margin-right: 20px;
}

.btn-views{
	color: black;
	margin-right: 20px;
}

.btn-seachs{
	color: black;
}