@charset "UTF-8";

body, html {
   margin: 0;
   padding: 0;
   min-height: 100vh;
   background-image: radial-gradient(circle at center, #ffffff 0%, #000000 80%);
   background-attachment: fixed;
}

.main.col-md-9 {
   min-height: 100vh;
   margin: 0;
   text-align: center;
   margin-top: 240px;
   margin-bottom: 20px;
   background: transparent !important;
   flex-grow: 1;
   max-width: 100% ;
}
h2 {
   color: aqua;
   font-size: 4rem;
}
form {
   color: white;
   font-size: 3rem;
}
input[type="text"] {
   width: 350px;
   padding: 8px 12px;
   font-size: 16px;
   position: relative;
   top: -6px;
}
input[type="submit"] {
   padding: 10px 30px;
   font-size: 3rem;
   cursor: pointer;
}